{% extends 'contact/base.html.twig' %}

{% block title %}Ajouter un contact{% endblock %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block page_title %}
    <h2 class="m-0">Nouveau Contact</h2>
{% endblock %}

{% block buttons %}
    <a href="{{ path('contact_index') }}" class="btn btn-outline-secondary">Annuler</a>
{% endblock %}

{% block content %}

    {{ form_start(form) }}

    <div class="row">
        <div class="col">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col">
            {{ form_row(form.lastname) }}
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-4">
            <div class="position-relative">
                {{ form_widget(form.picture) }}
                <div class="position-absolute w-25 start-50 top-50 translate-middle-x">
                    <img src="{{ constant('App\\Controller\\ContactController::PLACEHOLDER') }}"
                         class="rounded-circle shadow img-fluid"
                         alt="photo de profile"/>
                </div>
            </div>
        </div>
        <div class="col-8">
            {{ form_rest(form) }}
        </div>
    </div>
    <div class="text-end">
        <button class="btn btn-outline-primary">Ajouter</button>
    </div>

{% endblock %}
