{% extends 'base.html.twig' %}

{% block title %}Modifier un contact{% endblock %}

{% form_theme form 'bootstrap_5_horizontal_layout.html.twig' %}

{% block body %}


    <div class="row my-3 align-items-end">
        <div class="col-8">
            <h2 class="m-0">Modifier {{ contact.fullname }}</h2>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-end">
            <span class="me-5">
                <b>ID</b> {{ contact.id }}
            </span>
            <div class="btn-group">
                <a href="{{ path('contact_show', {'id': contact.id}) }}" class="btn btn-outline-primary">Afficher le
                    profil</a>
                <a href="{{ path('contact_index') }}" class="btn btn-outline-secondary">Voir les contacts</a>
            </div>
        </div>
    </div>
    {{ form_start(form) }}
    <div class="row mb-3">
        <div class="col">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col">
            {{ form_row(form.lastname) }}
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-4 d-flex justify-content-center align-items-center">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/9.webp" class="rounded-circle shadow"
                 alt="photo de profile"/>
        </div>
        <div class="col-8 pt-3">
            {{ form_rest(form) }}
        </div>
    </div>
    <div class="text-end">
        <button class="btn btn-outline-primary">Modifier</button>
    </div>
    {{ form_end(form) }}

{% endblock %}
