{% extends 'contact/base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block page_title %}
    <h2 class="m-0">Liste des Contacts</h2>
{% endblock %}

{% block buttons %}
    <a href="{{ path('contact_add') }}" class="btn btn-outline-primary">Ajouter</a>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Adresse email</th>
            <th>Numéro de téléphone</th>
            <th>Date de naissance</th>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.fullname }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td>
                    {% if contact.birthday is not empty %}
                        {{ contact.birthday|format_date('long') }}
                    {% endif %}
                </td>
                <td class="text-end">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                            </svg>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('contact_show', {'id': contact.id}) }}" class="dropdown-item">
                                    Voir le contact</a>
                            </li>
                            <li>
                                <a href="{{ path('contact_edit', {'id': contact.id}) }}" class="dropdown-item">
                                    Modifier le contact</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a href="{{ path('contact_delete', {'id': contact.id, 'token': csrf_token('delete-contact-'~contact.id)}) }}"
                                   class="dropdown-item">Supprimer le contact</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
