{% extends 'contact/base.html.twig' %}

{% block title %}{{ contact.fullname }}{% endblock %}

{% block page_title %}
    <h2 class="m-0">{{ contact.fullname }}</h2>
{% endblock %}

{% block buttons %}
    <span class="me-5">
        <b>ID</b> {{ contact.id }}
    </span>
    <div class="btn-group">
        <a href="{{ path('contact_edit', {'id': contact.id}) }}" class="btn btn-outline-primary">Modifier</a>
        <a href="{{ path('contact_delete', {'id': contact.id, 'token': csrf_token('delete-contact-'~contact.id)}) }}"
           class="btn btn-outline-danger">
            Supprimer</a>
        <a href="{{ path('contact_index') }}" class="btn btn-outline-secondary">Voir les contacts</a>
    </div>
{% endblock %}

{% block content %}

    <div class="row pt-3">
        <div class="col-4 d-flex justify-content-center align-items-center">
            <img src="{{ asset('profile/'~contact.picture) }}" class="rounded-circle shadow"
                 alt="photo de profile"/>
        </div>
        <div class="col-8 ">
            <table class="table table-borderless">
                <colgroup>
                    <col class="w-25"/>
                    <col/>
                </colgroup>
                <tr>
                    <td>Adresse email</td>
                    <td>{{ contact.email }}</td>
                </tr>
                <tr>
                    <td>Numéro de téléphone</td>
                    <td>{{ contact.phone }}</td>
                </tr>
                <tr>
                    <td>Date de naissance</td>
                    <td>
                        {% if contact.birthday is not empty %}
                            {{ contact.birthday|format_date('long') }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
