<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <header class="pt-5">
        <p class="h1">Symfony Avancé - POE PHP</p>
        <hr/>
    </header>
    <nav class="nav">
        <a href="{{ path('home_index') }}" class="nav-link">Accueil</a>
        <a href="{{ path('service_index') }}" class="nav-link">Les Services</a>
        <a href="{{ path('service_contact') }}" class="nav-link">Contactez nous</a>
    </nav>
    <main>
        {% for type, messages in app.flashes %}
            <div class="alert alert-{{ type }}" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </main>
    <footer>
        <hr/>
        <p class="small text-center">Dawan FOAD - POEI PHP - Décembre 2023</p>
    </footer>
    <!--div class="toast-container position-static">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="" class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small class="text-body-secondary">just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                See? Just like this.
            </div>
        </div>

        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="" class="rounded me-2" alt="...">
                <strong class="me-auto">Bootstrap</strong>
                <small class="text-body-secondary">2 seconds ago</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Heads up, toasts will stack automatically
            </div>
        </div>
    </div-->
    {% for type, messages in app.flashes %}
        <div class="toast-container position-static">
            {% for message in messages %}
                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <!--img src="..." class="rounded me-2" alt="..."-->
                        <strong class="me-auto">Centre de notification</strong>
                        <small class="text-body-secondary">just now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
</body>
</html>
